body {
  background-color: rgb(250, 250, 231);
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 16px;
}

body * {
  box-sizing: border-box;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: rgb(5, 5, 24);
  box-shadow: 0px 10px 20px rgb(5, 5, 24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 3;
}

nav .logo {
  height: 80px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Segoe Script";
  font-size: 36px;
}

nav .logo a {
  color: inherit;
  text-decoration: inherit;
}

nav .logo a:hover {
  color: grey;
}

nav ul {
  height: 80px;
  width: 1000px;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

nav ul a {
  height: inherit;
  width: 160px;
  list-style-type: none;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
}

nav ul a:hover {
  background-color: rgb(55, 55, 55);
}

header {
  position: relative;
  top: 100px;
  z-index: 0;
  height: 70vh;
  width: 100%;
  box-shadow: 0px 20px 20px rgb(5, 5, 24);
}

hr {
  width: 50%;
  margin: 0 auto;
}

.header-filter {
  position: absolute;
  top: 100px;
  height: 70vh;
  width: 100%;
  background-color: black;
  z-index: 1;
  opacity: 0.3;
}

.header-info {
  color: white;
  margin-top: 10%;
}

.slider-image {
  height: 100%;
  width: 100%;
}

.slider-track-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.slider-track {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  position: relative;
  transition: 0.75s;
}

.slider-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.slider-btn :hover {
  opacity: 0.7;
}

.slider-btn * {
  width: 50px;
  height: 100px;
}

.left-btn {
  left: 1rem;
}

.right-btn {
  right: 1rem;
}

.slider-nav {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.slider-indicator {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid grey;
  margin: 0 1px;
  cursor: pointer;
}

.current-slide-button {
  background-color: rgb(103, 103, 103);
}

.about-us {
  margin-top: 9rem;
}

.about-us .about-us-section {
  width: 100%;
  height: 500px;
  margin: 3rem auto;
  display: flex;
  justify-content: space-evenly;
}

.about-us h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.about-us .about-us-section div {
  width: 400px;
  height: 400px;
  padding: 10px;
  text-align: justify;
}

.about-us .about-us-section div p {
  font-family: Cambria;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.4em;
}

.locations {
  width: 100%;
  height: 600px;
  background-color: rgb(5, 5, 24);
  color: white;
  padding-top: 0.5em;
  box-shadow: 0px -10px 20px rgb(5, 5, 24);
}

.locations-field {
  width: 100%;
  height: 485px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 10px 20px rgb(5, 5, 24);
}

.locations-field div {
  width: 400px;
  height: 400px;
  background-color: rgb(17, 17, 59);
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-family: Cambria;
  line-height: 80px;
  border-radius: 30px;
}

.locations-field div:hover {
  background-color: rgb(24, 24, 82);
}

.artists {
  width: 100%;
  color: black;
  padding-top: 0.5em;
}

.artist-odd, .artist-even {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 5rem;
  height: 700px;
}

.artist-portrait {
  height: 90%;
  border-radius: 50%;
  border: 3px solid black;
  position: relative;
  top: 26px;
  box-shadow: 8px 8px 30px 20px rgba(0, 0, 0, 1);
}

.artist-description {
  height: 100%;
  text-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.artist-odd .artist-portrait {
  grid-column: 2 / 4;

}
.artist-odd .artist-description {
  grid-column:  5 / 7;
}

.artist-description p {
  font-size: 32px;
  text-align: justify;
}

.artist-even .artist-description {
  grid-column: 2 / 4;
} 

.artist-even .artist-portrait {
  grid-column: 5 / 7;
}