body {
  background-color: rgb(250, 250, 231);
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 1rem;
}

body * {
  box-sizing: border-box;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}

nav {
  position: fixed;
  top: 0;
  height: 15vh;
  width: 100%;
  background-color: rgb(5, 5, 24);
  box-shadow: 0px 0px 20px 30px rgba(5, 5, 30, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 3;
}

nav .logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Segoe Script";
  font-size: 2rem;
  margin-right: 3rem;
}

nav .logo a:hover {
  color: grey;
}

nav ul {
  height: 80px;
  width: 1000px;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav ul a {
  height: inherit;
  width: 160px;
  list-style-type: none;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

nav ul a:hover {
  background-color: rgb(55, 55, 55);
}

header {
  position: relative;
  top: 100px;
  z-index: 0;
  height: 70vh;
  width: 100%;
  box-shadow: 0px 0px 20px 30px rgba(5, 5, 30, 1);
}

hr {
  width: 100%;
  margin: 0 auto;
}

fieldset {
  width: 50vw;
  margin: 0 auto;
  text-align: left;
  padding: 1rem;
  border-radius: 10px;  
}

input, textarea {
  width: 100%;
  height: 30px;
  margin: 0.5rem;
}

textarea {
  height: 200px;
}

footer {
  bottom: 0;
  height: 40vh;
  background-color: rgb(10, 10, 60);
  margin-top: 5rem;
  box-shadow: 0px 0px 20px 30px rgba(5, 5, 30, 1);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 3rem;
}

footer div {
  grid-row: 1 / 3;
  color: white;
  font-family: sans-serif;
  text-align: left;
}

footer div ul {
  margin: 0 20%;
  padding: 0;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer div ul li {
  cursor: pointer;
}

footer div ul li:hover {
  opacity: 0.8;
}

.header-filter {
  position: absolute;
  top: 100px;
  height: 70vh;
  width: 100%;
  background-color: black;
  z-index: 1;
  opacity: 0.3;
}

.header-info-container {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-info {
  color: white;
}

.slider-image {
  height: 100%;
  width: 100%;
}

.slider-track-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.slider-track {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  position: relative;
  transition: 0.75s;
}

.slider-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.slider-btn :hover {
  opacity: 0.7;
}

.slider-btn * {
  width: 50px;
  height: 100px;
}

.left-btn {
  left: 1rem;
}

.right-btn {
  right: 1rem;
}

.slider-nav {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.slider-indicator {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid grey;
  margin: 0 1px;
  cursor: pointer;
}

.current-slide-button {
  background-color: rgb(103, 103, 103);
}

.about-us {
  margin-top: 9rem;
}

.about-us .about-us-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8rem;
  justify-content: space-evenly;
}

.about-us h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.about-us .about-us-section div {
  width: 400px;
  height: 400px;
  padding: 10px;
  text-align: justify;
  gap: 5rem;
}

.about-us .about-us-section div p {
  font-family: Cambria;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.4em;
}

.locations {
  background-color: rgb(5, 5, 24);
  color: white;
  padding-top: 0.5em;
  margin-top: 10rem;
  box-shadow: 0px 0px 20px 30px rgba(5, 5, 30, 1);
}

.locations-field {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8rem;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 10px 20px rgb(5, 5, 24);
}

.locations-field div {
  width: 400px;
  height: 400px;
  background-color: rgb(17, 17, 59);
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-family: Cambria;
  line-height: 80px;
  border-radius: 30px;
}

.locations-field div:hover {
  background-color: rgb(24, 24, 82);
}

.artists {
  width: 100%;
  color: black;
  padding-top: 0.5em;
}

.artist-odd, .artist-even {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3rem;
  margin-bottom: 1rem;
  height: 50rem;
  padding: 0 1rem;
}

.artist-portrait {
  width: 100%;
  height: 70%;
  border-radius: 50%;
  position: relative;
  top: 26px;
  box-shadow: 8px 8px 30px 20px rgba(5, 5, 30, 1);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.artist1-portrait {
  background-image: url(images/artist1.jpg);
}

.artist2-portrait {
  background-image: url(images/artist2.jpg);
}

.artist3-portrait {
  background-image: url(images/artist3.jpg);
}

.artist-portrait-content {
  opacity: 0;
}

.artist-portrait hr {
  width: 50%;
}

.artist-portrait img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid fuchsia;
  opacity: 0.5;
}

.artist-description {
  text-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.artist-odd .artist-portrait {
  grid-column: 2 / 4;
}

.artist-odd .artist-description {
  grid-column:  5 / 7;
}

.artist-description p {
  font-size: 26px;
  text-align: justify;
}

.artist-description p span {
  font-style: italic;
  font-size: 0.75em;
}

.artist-even .artist-description {
  grid-column: 2 / 4;
} 

.artist-even .artist-portrait {
  grid-column: 5 / 7;
}

.submit {
  cursor: pointer;
  height: 50px;
  width: 100px;
  color: white;
  background-color:rgba(5, 5, 30, 1);
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 10px;
}

.submit:hover {
  background-color: rgb(25, 25, 130);
}

.footer-logo {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Segoe Script";
  font-size: 36px;
}

.footer-copyrights {
  grid-column: 2 / 5;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  border-top: 1px solid white;
}

@media (max-width: 1150px) {
  nav .logo {
    font-size: 1.5rem;
  }

  nav ul a {
    font-size: 15px;
    width: 80px;
    height: 30%;
  } 

  .slider-btn  * {
    width: 25px;
    height: 50px;
  }

  .artist-description p {
    font-size: 20px;
  }

  .artist-portrait {
    height: 75%;
  }
}

@media (max-width: 900px) {
  .artist-portrait {
    height: 70%;
  }

  .artist-odd .artist-portrait {
    grid-column: 1 / 5;
  }

  .artist-odd .artist-description {
    grid-column: 5 / 8;
  }

  .artist-even .artist-portrait {
    grid-column: 4 / 8;
  }

  .artist-even .artist-description {
    grid-column: 1 / 4;
  } 
}

@media (max-width: 500px) {
  h1, h2 {
    font-weight: 300;
  }

  .artist-odd, .artist-even {
    height: 20rem;
    margin-bottom: 9rem;
  }

  .artist-portrait {
    height: 100%;
    top: 0;
  }

  hr {
    width: 50%;
  }

  .artist-description {
    overflow: scroll;
  }

  .artist-description p {
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 0.8rem;
  }

  .artist-portrait-content h1 {
    font-size: 2rem;
  }

  .artist-portrait-content h2 {
    font-size: 1rem;
  }
}

@media (orientation: portrait) {
  fieldset {
    text-align: center;
    width: 80vw;
  }

  footer {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    height: 60vh;
    padding: 0 10px;
  }

  footer div {
    grid-row: 2 / 3;
    text-align: center;
  }

  footer div ul {
    margin: 0;
    justify-content: space-between;
  }

  .footer-logo {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    text-align: center;
  }

  .footer-first-col {
    grid-column: 1;
  }

  .footer-second-col {
    grid-column: 2;
  }

  .footer-third-col {
    grid-column: 3;
  }

  .footer-copyrights {
    grid-column: 1 / 4; 
    border-top: none;
    position: relative;
    top: 10%
  }


  .footer-copyrights:after {
    content: '';
    position: absolute;
    width: 70%;
    left: 15%;
    top: 30%;
    border-top: 1px solid white;
    }
}

@media (orientation: landscape) and (max-width: 900px) {
  nav {
    height: 25vh;
  }
}